extends layout

block content
  h3(id="display", class="display-none", style="color: white; text-align: center;margin-top:15%;font-size:20px")
  a(class="waves-effect waves-light display-none btn-large blue display-center", id="callToAction", style="text-transform: initial;color: white;width: 50%;")
    i(class="material-icons left") videocam
    span(id="btnname") buttonCallToAction

  script(src="/javascripts/roomClosed.js")