html, body {
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

body * {
  box-sizing: border-box!important;
}

.logo-wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1000000;
}

.watermark {
  max-width: 100px;
  max-height: 50px;
  z-index: 10000000;
  position: absolute;
  top: 32px;
  left: 32px;
  /* background-image: url(/images/watermark.png); */
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 4px;
}

.flex-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  flex-direction: column-reverse;
  bottom: 80px;
  position: absolute;
  height: 80%;
  align-content: flex-end;
  right: 5px;
  /* transform: rotateY(180deg); */
}

.video-tile {
  position: relative;
  width: 160px;
  height: 100px;
  overflow: hidden;
  z-index: 99;
  margin-top: 10px;
  margin-right: 10px;
  background-image: url(../images/nouser.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.remote-tile-view {
  /* display: block; */
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  bottom: 0px;
  text-align: center;
  right: 0;
  flex-direction: initial;
  /* padding-top: 50px;
  padding-bottom: 90px; */
}

.remote-tile-view .video-tile {
  height: 50%;
  width: 50%;
  min-width: 250px;
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  /* padding: 10px; */
}

.remote-tile-view .video-tile video {
  border: none!important;
  border-radius: unset!important;
}

.video-tile video:hover {
  cursor: pointer;
}

.main-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/nouser.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main-video-wrapper video {
  border: none;
  border-radius: initial;
  object-fit: contain;
}

.local-video-wrapper {
  position: absolute;
  width: 160px;
  height: 100px;
  top: 15px;
  right: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: #FF9800;
  overflow: hidden;
  z-index: 99;
  border-radius: 4px;
  background: rgb(105, 102, 102);
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#remote_videos .local-video-wrapper {
  position: relative;
  top: 0;
  right: 0;
  display: none;
  margin: 0;
  border: none;
  background: none;
}

#local_video {
  border: none;
}

#local_video:hover {
  cursor: pointer;
}

.btnTools {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.btnTools div {
  margin-right: 15px;
  border-radius: 50%;
}

.btnTools .btn-call-end {
  margin-right: 0px!important;
}

.gridToggle i {
  font-size: 21px!important;
}

.videoMuteImg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 11;
  font-size: 25px;
}

.display-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}

.btn-floating.disabled {
  background-color: #9E9E9E !important;
}

#messageModal {
  background: transparent;
  box-shadow: none;
}

/* PrivateCode Confirm Page(confirmPrivate) BEGIN */

.t-wrapper {
  top: 40%;
}

.form-wrapper {
  width: 300px;
  margin: auto;
}

#privateText {
  color: white;
  text-align: center;
  margin-top: 15%;
  font-size: 20px
}

#privateCode {
  padding-left: 10px;
  border: 1px solid snow;
  border-radius: 3px;
  color: white;
  box-sizing: border-box;
}

#error_p {
  color: #FF9800;
  position: relative;
  top: -6px;
}

#go_room {
  text-transform: initial;
  color: white;
  width: 100%;
  height: 3rem;
  padding: 5px 10px;
  position: relative;
  top: 15px;
}

#go_room * {
  padding: 0;
  margin: 0;
  display: inline;
}

/* PrivateCode Confirm Page END */